NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/bookverse-dev

JWT_SECRET=your-super-long-jwt-secret-here-change-in-production
JWT_EXPIRES_IN=7d

GOOGLE_CLIENT_ID= create yours at google console
GOOGLE_CLIENT_SECRET= create yours at google console

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000